:root {
    --noto-font: 'Noto Serif Tamil', serif;
    --raleway-font: 'Raleway', sans-serif;
    --bg-dark: #005792;
    --bg-light: #D1F4FA;
    --bck-grnd: #F9F9F9;
    --bck-grnd-opa:  background-color: darken(rgba(0, 87, 146, .8), 10%);
   // --brt-fnt-clr: rgb(255, 255, 255);
    --trans-duration: 300ms;
    --loading-duration: 200ms;
    --header-h1-wdth: min-content;
    --h1-fnt-wght: 800;
    --h1-fnt-sz: 2.7rem;
}