
@use 'abstracts/variables' as *;
@use 'abstracts/mixin' as *;
@use 'base/reset' as *;
@use 'components/animations' as *;



nav {
    height: 10vh;
    @include flex(space-around);
    position: fixed;
    padding: 1rem;
    width: 100%;
    background-color: var(--bck-grnd);
    z-index: 1;

    h1 {
        font-family: var(--noto-font)
    }

    ul {
        @include flex(space-around);
        width: 50%;
        opacity: 0;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: black;
                transition: color var(--trans-duration) ease-in-out;

                font: {
                    size: .87rem;
                    weight: 600;
                }

                &:hover {
                    color: var(--bg-dark);
                }
            }
        }   
            @include breakpoint(900px) {
               display: none;
        }
        animation: fade-in var(--trans-duration) ease-in 700ms forwards;
    }
    .hamburger {
        height: 30px;
        width: 30px;
        margin-left: auto;
        cursor: pointer;
        display: none;


        .line {
            width: 100%;
            height: 4px;
            margin-bottom: 5px;
            background-color: black;
        }
        @include breakpoint(900px) {
            display: block;
     }
    }
}
header {
    height: 100vh;
    background-image: url("../images/city-scape.jpg");
    @include bg-img;
    background-attachment: fixed;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--bg-dark);
        mix-blend-mode: hue;
    }

    .title-header {
        width: 40%;
        height: 100%;
        @include flex;
        margin-right: auto;
        justify-content: flex-start;
        gap: 1.4rem;
        flex-direction: column;
        background-color: darken( rgba(0, 87, 146, .8), 10%);
        color: var(--bck-grnd);

        h1 {
            width: var(--header-h1-wdth);
            padding-top: 10rem + 5rem;
            opacity: 0;
            animation: fade-in var(--trans-duration) ease-in 1s forwards;

            font: {
                weight: var(--h1-fnt-wght);
                size: var(--h1-fnt-sz);
            }
        }
        p {
            opacity: 0;
            animation: fade-in var(--trans-duration) ease-in  1.3s forwards;

            font: {
                size: 1.1rem;
                weight: 600;
            }
        }
        @include breakpoint(700px) {
            margin: 0;
            width: 100%;
         }
    }
    @include breakpoint(900px) {
        background-attachment: scroll;
    }
}


// ----------practice section-----------


.practice {
    height: 100vh;
    @include flex;
    flex-wrap: wrap;

    .title-header {
        width: 40%;
        height: 100%;
        @include flex;
        background-color: var(--bg-light);  

        h1 {
            width: var(--header-h1-wdth);
            color: var(--bg-dark);

            font: {
                weight: var(--h1-fnt-wght);
                size: var(--h1-fnt-sz);
            }
        }
        @include breakpoint(700px){
            writing-mode: vertical-lr;
            width: 30%;
        }
    }
    .practice-info {
        height: 100%;
        width: 55%;
        margin-right: auto;
        @include flex;
        flex-wrap: wrap;
        padding: 0 4rem 0 3rem;
        transition: opacity var(--trans-duration) ease-in;

        .col {
            // height: 500px;
            flex: 0 50%;
            @include flex;
            gap: 1.5rem;
            flex-direction: column;

            .info-wrap {
                height: 100%;
                @include flex(center, flex-start);
                flex-direction: column;
                gap: 1rem;

                h3 {
                    position: relative;

                    font: {
                        size: 1.3rem;
                        weight: 600;
                }
                &::before {
                    content: "";
                    width: 10px;
                    aspect-ratio: 1/1;
                    background-color: lighten( #005792, 15%);
                    position: absolute;
                    left: -30px;
                    top: 10px;

                    @include breakpoint(700px) {
                        opacity: 0;
                    }
                }
            }
        }
            p {
                width: 27ch;
            }
        }
        @include breakpoint(700px) {
           padding: 0 0 0 1rem;
           margin: 0;
         }
         @include breakpoint(700px){
           width: 70%;
        }
    }

}

// ---------vision section----------

.vision {
    min-height: 100vh;
    background-color: darken( #005792, 13%);
    padding: 8% 20%;
    text-align: center;
    display: grid;
    grid-template: 
    "h1" 25%
    "p" 74%
    100%;

    h1 {
        color: var(--bck-grnd);

        font: {
            size: var(--h1-fnt-sz);
            weight: var(--h1-fnt-wght);
        }
    }
    p {
        color: var(--bck-grnd);

        font: {
            weight: 500;
            size: 1.1rem;
            family: var(--raleway-font);
        }
        @include breakpoint(700px) {
            text-align: left;
        }
    }
    @include breakpoint(700px) {
        padding: 5%;
    }
}

// ----------bg img-----------

.image-bg {
    height: 80vh;
    background-image: url(../images/people-working.jpg);
    @include bg-img;
    background-attachment: fixed;

    @include breakpoint(900px) {
        background-attachment: scroll;
    }
}


// ----------attorneys------------


.attorney {
    height: 100dvh;
    background-color: var(--bg-light);

        .title {
            height: 25vh;
            @include flex;

            h1 {
                color: var(--bg-dark);

                font: {
                    size: var(--h1-fnt-sz);
                    weight: var(--h1-fnt-wght);
                }
            }
        }
        .team-members {
            @include flex;
            flex-wrap: wrap;
            gap: 6rem;
            height: 400px;
            margin: 0 auto;
            min-width: 80%;
        
            .member {
                height: 100%;
                width: 200px;
        
                .img {
                    height: 60%;
                    @include bg-img;

                    &:nth-child(1) {
                        background-image: url("../images/people-working.jpg");
                    }
                    &:nth-child(2) {
                        background-image: url("../images/people-working.jpg");
                    }
                    &:nth-child(3) {
                        background-image: url("../images/people-working.jpg");
                    }
                 }
            .info {
                text-align: center;
                height: 40%;
                color: var(--bg-dark);

                h3 {
                    padding: 1.1rem 0 .5rem;
                    text-transform: uppercase;
                    
                    font: {
                        size: 1.5rem;
                        weight: 600;
                    }
                }
                h4 {
                    padding-bottom: 1.5rem;

                    font: {
                        weight: 600;
                        size: 1rem;
                    }
                }
                hr {
                    margin-bottom: 1.4rem;
                    color: black;
                    width: 100%;
                }
                p {
                    line-height: 1.3rem;
                    font-weight: 600;
                }
            }
        }
    }
    @include breakpoint(806px) {
        height: 170vh;
    }
    @include breakpoint(410px) {
        height: 230vh;
    }
}

.contact-info {
    height: 100vh;
    background-color: rgba(0, 87, 146, 40%);
    position: relative;
    display: grid;
    grid-template:
    "title info" 100vh/
    40% 60%;

    &::after {
        content: "";
        background-image: url("../images/city-scape.jpg");
        @include bg-img;
        position: absolute;
        inset: 0;
        z-index: -1;
        background-attachment: fixed;

        @include breakpoint(900px) {
            background-attachment: scroll;
        }
    }
    .title-header {
        grid-area: title;
        height: 100%;
        width: 100%;
        // @include flex;
        background-color: darken( rgba(0, 87, 146, .8), 10%);
        
        h1 {
            color: var(--bck-grnd);
            width: min-content;
            margin: 20% auto;
            padding-left: 4rem;

            font: {
                size: var(--h1-fnt-sz);
                weight: var(--h1-fnt-wght);
            }
            @include breakpoint(700px) {
                padding-left: 6.5%;
            }
        }
        @include breakpoint(700px) {
            writing-mode: vertical-lr;
        }
    }
    .contact {
        grid-area: info;
        padding: 2rem 3rem;

        .title-wrap {
           p {
            font-size: 700;
           }
        }

        .title-wrap,
        .address {
            margin-bottom: 2rem;
            color: var(--bck-grnd);
        }
        .address {
            a {
                color: var(--bck-grnd);
                display: inline-block;
                margin-top: 1.5rem;
        }
    }
        p {
            color: var(--bck-grnd);
        }
        form {
            display: grid;
            grid-auto-rows: 1fr;
            gap: .8rem;
            margin-top: 1.5rem;
            color: var(--bck-grnd);

            label {
                width: 50%;
                font-weight: 700;
            }
            input {
                width: 80%;
                height: 1.8rem;

                &[type="submit"] {
                    cursor: pointer;
                }
                @include breakpoint(700px) {
                    width: 100%;
                }
            }
        }
    }
    @include breakpoint(700px) {
        grid-template: 
            "title info" 100%/
            30% 70%;
        
    }
}

.to-top {
    @include flex;
    background-color: darken( #005792, 13%);
    height: 10vh;
    
    & a {
        color: var(--bck-grnd);
        
        font: {
            size: 1.1rem;
            weight: 600;
       }
    }
}

footer {
    height: 13vh;
    @include flex;
}


