

.in-out.vision h1,
.in-out.vision p {
    opacity: 1;
}

.practice-info.opacity {
    opacity: 1 !important;
    transform: translateX(0) !important;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;     
    }
}